<td width="50%" height="60" align="center">
  <p style="margin: 0 0 10px 0; font-size: 14px; color: #5a5b61; font-weight: bold;">
    redes sociais
  </p>
  <a href="https://www.instagram.com/charthoficial/" target="_blank" style="text-decoration: none; margin-right: 10px;">
    <img src="https://{{_accountInfo.AccountName}}.vteximg.com.br/arquivos/email-instagram-icon.png" alt="{{_accountInfo.TradingName}} Instagram">
  </a>
  <a href="https://www.facebook.com/charthoficial/" target="_blank" style="text-decoration: none; margin-right: 10px;">
    <img src="https://{{_accountInfo.AccountName}}.vteximg.com.br/arquivos/email-facebook-icon.png" alt="{{_accountInfo.TradingName}} Facebook">
  </a>
  <a href="https://br.pinterest.com/CharthOficial/_created/" target="_blank" style="text-decoration: none; margin-right: 10px;">
    <img src="https://{{_accountInfo.AccountName}}.vteximg.com.br/arquivos/email-pinterest-icon.png" alt="{{_accountInfo.TradingName}} Pinterest">
  </a>
  <a href="https://www.youtube.com/channel/UCcuAdMQdQTidMmN631nB0Cw" target="_blank" style="text-decoration: none; margin-right: 10px;">
    <img src="https://{{_accountInfo.AccountName}}.vteximg.com.br/arquivos/email-youtube-icon.png" alt="{{_accountInfo.TradingName}} YouTube">
  </a>

  <span style="padding-top: 10px; font-size: 12px; color: #5a5b61; display: block;">@charthoficial</span>
</td>